/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 may. 2022, 12:00:43
    Author     : rvasq
*/
#TituloPrincipal{
    background-color: green;
    color: white
}
div p span{
    text-align: left;
    color: blue;
}
p{
    text-align: left;
}
