<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" th:href="@{/css/menu.css}" />
                </head>
                <body>
                    <header th:replace="layout/plantilla :: header "/>
                    <div class="contenido">
                        <h2>Datos Cliente</h2>
                        <a th:href="@{/}"> Regresar </a>
                        <br/>
                        <br/>
                        <form th:action="@{/cliente/guardar}"
                              method="post"
                              th:object="${cliente}">
                            <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
                            <label for:"nombre">Nombre: </label>
                            <input type="text" id="nombre" name="nombre" th:field="*{nombre}"/>
                            <br/>
                            <label for:"apellidos">Apellidos: </label>
                            <input type="text" id="apellidos" name="apellidos" th:field="*{apellidos}"/>
                            <br/>
                            <label for:"correo">Correo: </label>
                            <input type="text" id="correo" name="correo" th:field="*{correo}"/>
                            <br/>
                            <label for:"limite">Telefono: </label>
                            <input type="text" id="telefono" name="telefono" th:field="*{telefono}"/>
                            <br/>
                            <label for:"limite">Limite de credito: </label>
                            <input type="number" id="limite" name="telefono" th:field="*{credito.limite}"/>
                            <input type="submit" id="Guardar" name="Guardar" />
                        </form>
                    </div>
                    <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
